### Notebook 1: Huntsville Main Scrape

This notebook shows the first round of data scraping for an individual prison. This is where my functions were originally built and tested. 

Things that are accomplished in this notebook:
1. Scrape of all pages of inmates for the Huntsville state prison.
2. Manually adjusting strings of `term_lengths` into floats.
3. Saving .csv

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from time import sleep

In [459]:
url = 'https://www.texastribune.org/library/data/texas-prisons/units/huntsville/'


res = requests.get(url)

soup = BeautifulSoup(res.content)

In [460]:
tbody_1 = soup.find('tbody')

tbody_1

<tbody>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/carlos-stiff/1196290/">Carlos Stiff</a></td>
<td data-title="Age">31</td>
<td data-title="Main Crime">CAPITAL MURDER</td>
<td data-title="Entered On">12/16/2011</td>
<td data-title="Term">Life Without Parole</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/gregg/crime/">Gregg</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/gregg/home/">Gregg</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/winfred-earl-lauderdale/1128958/">Winfred Earl Lauderdale</a></td>
<td data-title="Age">42</td>
<td data-title="Main Crime">CAPITAL MURDER</td>
<td data-title="Entered On">5/5/2000</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/jerry-marcus-jernigan/1148737/">Jerry Marcus Jernigan</a></td>
<td data-title="Age">69</td>
<td data-title="Main Crime">AGGRV ROBB W/DEAD WPN</td>
<td data-title="Entered On">3/20/1984</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/larry-dale-barker/1092116/">Larry Dale Barker</a></td>
<td data-title="Age">44</td>
<td data-title="Main Crime">CAPITAL MURDER</td>
<td data-title="Entered On">3/15/2012</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/galveston/crime/">Galveston</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/galveston/home/">Galveston</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/david-randal-lacombe/1124227/">David Randal Lacombe</a></td>
<td data-title="Age">54</td>
<td data-title="Main Crime">MURDER W/DEADLY WPN</td>
<td data-title="Entered On">3/19/1992</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/larry-dell-davis/1070979/">Larry Dell Davis</a></td>
<td data-title="Age">69</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">4/16/2015</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/angelina/crime/">Angelina</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/angelina/home/">Angelina</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/johnny-wayne-hill/1123994/">Johnny Wayne Hill</a></td>
<td data-title="Age">58</td>
<td data-title="Main Crime">BURG OF HABIT</td>
<td data-title="Entered On">7/8/2013</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/travis/crime/">Travis</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/travis/home/">Travis</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/miguel-teran-bueno-sr/1067625/">Miguel Teran Bueno, Sr</a></td>
<td data-title="Age">71</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">11/24/1993</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/mao-ali-lainez/1125013/">Mao Ali Lainez</a></td>
<td data-title="Age">40</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">11/8/2001</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/michael-scott-butler/1072757/">Michael Scott Butler</a></td>
<td data-title="Age">51</td>
<td data-title="Main Crime">AGG ROBBERY W/DDLY WPN</td>
<td data-title="Entered On">5/10/2005</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/freddie-lee-pendley/1178356/">Freddie Lee Pendley</a></td>
<td data-title="Age">55</td>
<td data-title="Main Crime">CAPITAL MURDER</td>
<td data-title="Entered On">2/15/2012</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/tarrant/home/">Tarrant</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/lee-arthur-wynn/1206469/">Lee Arthur Wynn</a></td>
<td data-title="Age">57</td>
<td data-title="Main Crime">AGG ROBBERY W/DEADLY WPN</td>
<td data-title="Entered On">9/13/2013</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/ronald-foreman/1112634/">Ronald Foreman</a></td>
<td data-title="Age">71</td>
<td data-title="Main Crime">ROBB BY ASLT</td>
<td data-title="Entered On">9/19/2006</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/david-mach-landeck/1125745/">David Mach Landeck</a></td>
<td data-title="Age">60</td>
<td data-title="Main Crime">AGG SEX ASLT W/DEADLY WPN</td>
<td data-title="Entered On">2/12/1988</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bell/crime/">Bell</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bell/home/">Bell</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/juan-manuel-longoria-garza-jr/1076775/">Juan Manuel Longoria Garza, Jr</a></td>
<td data-title="Age">43</td>
<td data-title="Main Crime">CAP MURDER</td>
<td data-title="Entered On">11/21/1994</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hidalgo/crime/">Hidalgo</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/hidalgo/home/">Hidalgo</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/matthew-lee-viets/1189224/">Matthew Lee Viets</a></td>
<td data-title="Age">44</td>
<td data-title="Main Crime">BURG HABIT WIC THEFT</td>
<td data-title="Entered On">1/19/1994</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/dion-delon-alexander/1072171/">Dion Delon Alexander</a></td>
<td data-title="Age">49</td>
<td data-title="Main Crime">ATT CAPITAL MURDER</td>
<td data-title="Entered On">8/9/1995</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bell/crime/">Bell</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bell/home/">Bell</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/laymon-blanton/1221188/">Laymon Blanton</a></td>
<td data-title="Age">77</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">1/2/2019</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/trinity/crime/">Trinity</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/trinity/home/">Trinity</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/theophelus-james/1145999/">Theophelus James</a></td>
<td data-title="Age">60</td>
<td data-title="Main Crime">MURDER W/DEADLY WPN</td>
<td data-title="Entered On">1/7/1998</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/angelina/crime/">Angelina</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/angelina/home/">Angelina</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/scotty-gottlieb-arnst/1083332/">Scotty Gottlieb Arnst</a></td>
<td data-title="Age">42</td>
<td data-title="Main Crime">CAPITAL MURDER</td>
<td data-title="Entered On">8/26/1999</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/hiram-miles/1129903/">Hiram Miles</a></td>
<td data-title="Age">47</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">6/5/2017</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/ronnie-lee-gilmore/1080749/">Ronnie Lee Gilmore</a></td>
<td data-title="Age">67</td>
<td data-title="Main Crime">AGG ROBBERY</td>
<td data-title="Entered On">7/8/1994</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/palo-pinto/crime/">Palo Pinto</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/cooke/home/">Cooke</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/george-martin-rodriguez/1163175/">George Martin Rodriguez</a></td>
<td data-title="Age">41</td>
<td data-title="Main Crime">MURDER</td>
<td data-title="Entered On">10/3/1996</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/carl-edwin-martin-ii/1154626/">Carl Edwin Martin, II</a></td>
<td data-title="Age">59</td>
<td data-title="Main Crime">SEXUAL ASSLT</td>
<td data-title="Entered On">12/9/2015</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hood/crime/">Hood</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/hood/home/">Hood</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/warren-andrew-confer/1105779/">Warren Andrew Confer</a></td>
<td data-title="Age">48</td>
<td data-title="Main Crime">ENGAGE-ORGAN CRIM ACT</td>
<td data-title="Entered On">2/18/2012</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/williamson/crime/">Williamson</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/james-lee-reed-iii/1146857/">James Lee Reed, III</a></td>
<td data-title="Age">58</td>
<td data-title="Main Crime">BURG OF BLDGHABIT</td>
<td data-title="Entered On">7/19/2018</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/robert-glen-taylor/1200546/">Robert Glen Taylor</a></td>
<td data-title="Age">67</td>
<td data-title="Main Crime">VOL MANSLAUGHTER</td>
<td data-title="Entered On">6/23/2005</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/houston/home/">Houston</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/kenneth-michael-cullen/1117776/">Kenneth Michael Cullen</a></td>
<td data-title="Age">61</td>
<td data-title="Main Crime">MURDER W/FIREARM</td>
<td data-title="Entered On">12/9/2013</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/anderson/home/">Anderson</a></td>
</tr>
<tr class="odd">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/reginald-dewayne-thomas-jr/1202186/">Reginald Dewayne Thomas, Jr</a></td>
<td data-title="Age">45</td>
<td data-title="Main Crime">CAP MURDER W/DEADLY WPN</td>
<td data-title="Entered On">2/9/1996</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bosque/crime/">Bosque</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/bosque/home/">Bosque</a></td>
</tr>
<tr class="even">
<td data-title="Name"><a href="/library/data/texas-prisons/inmates/valdemar-gomez-jr/1086455/">Valdemar Gomez, Jr.</a></td>
<td data-title="Age">65</td>
<td data-title="Main Crime">CAP MURDER</td>
<td data-title="Entered On">1/13/1987</td>
<td data-title="Term">Life</td>
<td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hidalgo/crime/">Hidalgo</a></td>
<td data-title="Home County"><a href="/library/data/texas-prisons/counties/hidalgo/home/">Hidalgo</a></td>
</tr>
</tbody>

In [461]:
tbody_1.find_all('tr')

[<tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/carlos-stiff/1196290/">Carlos Stiff</a></td>
 <td data-title="Age">31</td>
 <td data-title="Main Crime">CAPITAL MURDER</td>
 <td data-title="Entered On">12/16/2011</td>
 <td data-title="Term">Life Without Parole</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/gregg/crime/">Gregg</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/gregg/home/">Gregg</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/winfred-earl-lauderdale/1128958/">Winfred Earl Lauderdale</a></td>
 <td data-title="Age">42</td>
 <td data-title="Main Crime">CAPITAL MURDER</td>
 <td data-title="Entered On">5/5/2000</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/jerry-marcus-jernigan/1148737/">Jerry Marcus Jernigan</a></td>
 <td data-title="Age">69</td>
 <td data-title="Main Crime">AGGRV ROBB W/DEAD WPN</td>
 <td data-title="Entered On">3/20/1984</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/larry-dale-barker/1092116/">Larry Dale Barker</a></td>
 <td data-title="Age">44</td>
 <td data-title="Main Crime">CAPITAL MURDER</td>
 <td data-title="Entered On">3/15/2012</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/galveston/crime/">Galveston</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/galveston/home/">Galveston</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/david-randal-lacombe/1124227/">David Randal Lacombe</a></td>
 <td data-title="Age">54</td>
 <td data-title="Main Crime">MURDER W/DEADLY WPN</td>
 <td data-title="Entered On">3/19/1992</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/larry-dell-davis/1070979/">Larry Dell Davis</a></td>
 <td data-title="Age">69</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">4/16/2015</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/angelina/crime/">Angelina</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/angelina/home/">Angelina</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/johnny-wayne-hill/1123994/">Johnny Wayne Hill</a></td>
 <td data-title="Age">58</td>
 <td data-title="Main Crime">BURG OF HABIT</td>
 <td data-title="Entered On">7/8/2013</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/travis/crime/">Travis</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/travis/home/">Travis</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/miguel-teran-bueno-sr/1067625/">Miguel Teran Bueno, Sr</a></td>
 <td data-title="Age">71</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">11/24/1993</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/mao-ali-lainez/1125013/">Mao Ali Lainez</a></td>
 <td data-title="Age">40</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">11/8/2001</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/michael-scott-butler/1072757/">Michael Scott Butler</a></td>
 <td data-title="Age">51</td>
 <td data-title="Main Crime">AGG ROBBERY W/DDLY WPN</td>
 <td data-title="Entered On">5/10/2005</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/freddie-lee-pendley/1178356/">Freddie Lee Pendley</a></td>
 <td data-title="Age">55</td>
 <td data-title="Main Crime">CAPITAL MURDER</td>
 <td data-title="Entered On">2/15/2012</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/tarrant/home/">Tarrant</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/lee-arthur-wynn/1206469/">Lee Arthur Wynn</a></td>
 <td data-title="Age">57</td>
 <td data-title="Main Crime">AGG ROBBERY W/DEADLY WPN</td>
 <td data-title="Entered On">9/13/2013</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/ronald-foreman/1112634/">Ronald Foreman</a></td>
 <td data-title="Age">71</td>
 <td data-title="Main Crime">ROBB BY ASLT</td>
 <td data-title="Entered On">9/19/2006</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/david-mach-landeck/1125745/">David Mach Landeck</a></td>
 <td data-title="Age">60</td>
 <td data-title="Main Crime">AGG SEX ASLT W/DEADLY WPN</td>
 <td data-title="Entered On">2/12/1988</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bell/crime/">Bell</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bell/home/">Bell</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/juan-manuel-longoria-garza-jr/1076775/">Juan Manuel Longoria Garza, Jr</a></td>
 <td data-title="Age">43</td>
 <td data-title="Main Crime">CAP MURDER</td>
 <td data-title="Entered On">11/21/1994</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hidalgo/crime/">Hidalgo</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/hidalgo/home/">Hidalgo</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/matthew-lee-viets/1189224/">Matthew Lee Viets</a></td>
 <td data-title="Age">44</td>
 <td data-title="Main Crime">BURG HABIT WIC THEFT</td>
 <td data-title="Entered On">1/19/1994</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/dion-delon-alexander/1072171/">Dion Delon Alexander</a></td>
 <td data-title="Age">49</td>
 <td data-title="Main Crime">ATT CAPITAL MURDER</td>
 <td data-title="Entered On">8/9/1995</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bell/crime/">Bell</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bell/home/">Bell</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/laymon-blanton/1221188/">Laymon Blanton</a></td>
 <td data-title="Age">77</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">1/2/2019</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/trinity/crime/">Trinity</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/trinity/home/">Trinity</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/theophelus-james/1145999/">Theophelus James</a></td>
 <td data-title="Age">60</td>
 <td data-title="Main Crime">MURDER W/DEADLY WPN</td>
 <td data-title="Entered On">1/7/1998</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/angelina/crime/">Angelina</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/angelina/home/">Angelina</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/scotty-gottlieb-arnst/1083332/">Scotty Gottlieb Arnst</a></td>
 <td data-title="Age">42</td>
 <td data-title="Main Crime">CAPITAL MURDER</td>
 <td data-title="Entered On">8/26/1999</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/hiram-miles/1129903/">Hiram Miles</a></td>
 <td data-title="Age">47</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">6/5/2017</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bexar/crime/">Bexar</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/ronnie-lee-gilmore/1080749/">Ronnie Lee Gilmore</a></td>
 <td data-title="Age">67</td>
 <td data-title="Main Crime">AGG ROBBERY</td>
 <td data-title="Entered On">7/8/1994</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/palo-pinto/crime/">Palo Pinto</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/cooke/home/">Cooke</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/george-martin-rodriguez/1163175/">George Martin Rodriguez</a></td>
 <td data-title="Age">41</td>
 <td data-title="Main Crime">MURDER</td>
 <td data-title="Entered On">10/3/1996</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/harris/home/">Harris</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/carl-edwin-martin-ii/1154626/">Carl Edwin Martin, II</a></td>
 <td data-title="Age">59</td>
 <td data-title="Main Crime">SEXUAL ASSLT</td>
 <td data-title="Entered On">12/9/2015</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hood/crime/">Hood</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/hood/home/">Hood</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/warren-andrew-confer/1105779/">Warren Andrew Confer</a></td>
 <td data-title="Age">48</td>
 <td data-title="Main Crime">ENGAGE-ORGAN CRIM ACT</td>
 <td data-title="Entered On">2/18/2012</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/williamson/crime/">Williamson</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/dallas/home/">Dallas</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/james-lee-reed-iii/1146857/">James Lee Reed, III</a></td>
 <td data-title="Age">58</td>
 <td data-title="Main Crime">BURG OF BLDGHABIT</td>
 <td data-title="Entered On">7/19/2018</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/dallas/crime/">Dallas</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bexar/home/">Bexar</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/robert-glen-taylor/1200546/">Robert Glen Taylor</a></td>
 <td data-title="Age">67</td>
 <td data-title="Main Crime">VOL MANSLAUGHTER</td>
 <td data-title="Entered On">6/23/2005</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/harris/crime/">Harris</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/houston/home/">Houston</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/kenneth-michael-cullen/1117776/">Kenneth Michael Cullen</a></td>
 <td data-title="Age">61</td>
 <td data-title="Main Crime">MURDER W/FIREARM</td>
 <td data-title="Entered On">12/9/2013</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/tarrant/crime/">Tarrant</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/anderson/home/">Anderson</a></td>
 </tr>, <tr class="odd">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/reginald-dewayne-thomas-jr/1202186/">Reginald Dewayne Thomas, Jr</a></td>
 <td data-title="Age">45</td>
 <td data-title="Main Crime">CAP MURDER W/DEADLY WPN</td>
 <td data-title="Entered On">2/9/1996</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/bosque/crime/">Bosque</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/bosque/home/">Bosque</a></td>
 </tr>, <tr class="even">
 <td data-title="Name"><a href="/library/data/texas-prisons/inmates/valdemar-gomez-jr/1086455/">Valdemar Gomez, Jr.</a></td>
 <td data-title="Age">65</td>
 <td data-title="Main Crime">CAP MURDER</td>
 <td data-title="Entered On">1/13/1987</td>
 <td data-title="Term">Life</td>
 <td data-title="Crime Location"><a href="/library/data/texas-prisons/counties/hidalgo/crime/">Hidalgo</a></td>
 <td data-title="Home County"><a href="/library/data/texas-prisons/counties/hidalgo/home/">Hidalgo</a></td>
 </tr>]

In [462]:
dict_list = []

for row in tbody_1.find_all('tr'):
    inmates = {}
    inmates['name'] = row.find('td').text.strip()
    inmates['age'] = row.find('td', {'data-title': 'Age'}).text
    inmates['main_crime'] = row.find('td', {'data-title': 'Main Crime'}).text
    inmates['entered_on'] = row.find('td', {'data-title': 'Entered On'}).text
    inmates['term'] = row.find('td', {'data-title': 'Term'}).text
    inmates['crime_location'] = row.find('td', {'data-title': 'Crime Location'}).text
    inmates['home_county'] = row.find('td', {'data-title': 'Home County'}).text
    
    
    
    
    dict_list.append(inmates)
    
df = pd.DataFrame(dict_list)

df_page1 = df[['name', 'age', 'main_crime', 'entered_on', 'term', 'crime_location', 'home_county']]

In [463]:
df_page1.head() #looking into clicking on name and adding expanding data to df 
#ie if they have committed prior crimes indicating how many and years of stay or something
#also how to get all of the data into the dataframe, not just page 1
#butttt i did something

,name,age,main_crime,entered_on,term,crime_location,home_county
0,Carlos Stiff,31,CAPITAL MURDER,12/16/2011,Life Without Parole,Gregg,Gregg
1,Winfred Earl Lauderdale,42,CAPITAL MURDER,5/5/2000,Life,Bexar,Bexar
2,Jerry Marcus Jernigan,69,AGGRV ROBB W/DEAD WPN,3/20/1984,Life,Tarrant,Dallas
3,Larry Dale Barker,44,CAPITAL MURDER,3/15/2012,Life,Galveston,Galveston
4,David Randal Lacombe,54,MURDER W/DEADLY WPN,3/19/1992,Life,Dallas,Dallas

In [464]:
df_page1.shape

(30, 7)

In [465]:
dict_list[0:2]

[{'name': 'Carlos Stiff',
  'age': '31',
  'main_crime': 'CAPITAL MURDER',
  'entered_on': '12/16/2011',
  'term': 'Life Without Parole',
  'crime_location': 'Gregg',
  'home_county': 'Gregg'},
 {'name': 'Winfred Earl Lauderdale',
  'age': '42',
  'main_crime': 'CAPITAL MURDER',
  'entered_on': '5/5/2000',
  'term': 'Life',
  'crime_location': 'Bexar',
  'home_county': 'Bexar'}]

In [466]:
#'https://www.texastribune.org/library/data/texas-prisons/units/huntsville/' +#?page=2

list_of_slugs = []
for i in range(1,49):
    slug = '?page='+str(i)
    
    list_of_slugs.append(slug)
    
list_of_slugs[:3]

['?page=1', '?page=2', '?page=3']

Trying to pull from all 48 to make a DataFrame

In [467]:
res2 = requests.get(url + '')

In [ ]:
def scrape_to_dict_list(url, list_of_slugs):
    dict_list = []

    for slug in list_of_slugs:
        sleep(1)
        try:
            res = requests.get(url + slug)
            soup = BeautifulSoup(res.content)
            
            print(f'{slug}')

            tbody = soup.find('tbody')
        

        

            for row in tbody.find_all('tr'):
                inmates = {}
                inmates['name'] = row.find('td').text.strip()
                inmates['age'] = row.find('td', {'data-title': 'Age'}).text
                inmates['main_crime'] = row.find('td', {'data-title': 'Main Crime'}).text
                inmates['entered_on'] = row.find('td', {'data-title': 'Entered On'}).text
                inmates['term'] = row.find('td', {'data-title': 'Term'}).text
                inmates['crime_location'] = row.find('td', {'data-title': 'Crime Location'}).text
                inmates['home_county'] = row.find('td', {'data-title': 'Home County'}).text

                dict_list.append(inmates)
        
        except:
            print('There are no more pages. ')
            break



    print('Finished.')

    return dict_list

In [468]:
def scrape_to_df(url, list_of_slugs):    
    dict_list = []

    for slug in list_of_slugs: 
        sleep(1)
        res = requests.get(url + slug)
        soup = BeautifulSoup(res.content)

        print(f'{slug}')

        tbody = soup.find('tbody')

        for row in tbody.find_all('tr'):
            inmates = {}
            inmates['name'] = row.find('td').text.strip()
            inmates['age'] = row.find('td', {'data-title': 'Age'}).text
            inmates['main_crime'] = row.find('td', {'data-title': 'Main Crime'}).text
            inmates['entered_on'] = row.find('td', {'data-title': 'Entered On'}).text
            inmates['term'] = row.find('td', {'data-title': 'Term'}).text
            inmates['crime_location'] = row.find('td', {'data-title': 'Crime Location'}).text
            inmates['home_county'] = row.find('td', {'data-title': 'Home County'}).text

            dict_list.append(inmates)

    df = pd.DataFrame(dict_list)

    df_final = df[['name', 'age', 'main_crime', 'entered_on', 'term', 'crime_location', 'home_county']]

    print('Finished.')
    
    return df_final
    
    #return df_final ????

In [469]:
#takes only about 1 minute
#df_final = scrape_to_df(url, list_of_slugs)

?page=1
?page=2
?page=3
?page=4
?page=5
?page=6
?page=7
?page=8
?page=9
?page=10
?page=11
?page=12
?page=13
?page=14
?page=15
?page=16
?page=17
?page=18
?page=19
?page=20
?page=21
?page=22
?page=23
?page=24
?page=25
?page=26
?page=27
?page=28
?page=29
?page=30
?page=31
?page=32
?page=33
?page=34
?page=35
?page=36
?page=37
?page=38
?page=39
?page=40
?page=41
?page=42
?page=43
?page=44
?page=45
?page=46
?page=47
?page=48
Finished.

In [470]:
df_final.head()

,name,age,main_crime,entered_on,term,crime_location,home_county
0,Carlos Stiff,31,CAPITAL MURDER,12/16/2011,Life Without Parole,Gregg,Gregg
1,Winfred Earl Lauderdale,42,CAPITAL MURDER,5/5/2000,Life,Bexar,Bexar
2,Jerry Marcus Jernigan,69,AGGRV ROBB W/DEAD WPN,3/20/1984,Life,Tarrant,Dallas
3,Larry Dale Barker,44,CAPITAL MURDER,3/15/2012,Life,Galveston,Galveston
4,David Randal Lacombe,54,MURDER W/DEADLY WPN,3/19/1992,Life,Dallas,Dallas

In [471]:
df_final.to_csv('df_current.csv')

In [482]:
df = df_final

In [483]:
df.head()

,name,age,main_crime,entered_on,term,crime_location,home_county
0,Carlos Stiff,31,CAPITAL MURDER,2011-12-16,Life Without Parole,Gregg,Gregg
1,Winfred Earl Lauderdale,42,CAPITAL MURDER,2000-05-05,Life,Bexar,Bexar
2,Jerry Marcus Jernigan,69,AGGRV ROBB W/DEAD WPN,1984-03-20,Life,Tarrant,Dallas
3,Larry Dale Barker,44,CAPITAL MURDER,2012-03-15,Life,Galveston,Galveston
4,David Randal Lacombe,54,MURDER W/DEADLY WPN,1992-03-19,Life,Dallas,Dallas

In [484]:
df['age'] = df['age'].astype(int)

In [485]:
#df['col'] = pd.to_datetime(df['col'])
df['entered_on'] = pd.to_datetime(df['entered_on'])

In [486]:
#only wanting to change 'term' at this point
df.dtypes

name                      object
age                        int64
main_crime                object
entered_on        datetime64[ns]
term                      object
crime_location            object
home_county               object
dtype: object

In [493]:
df.term.unique()

array(['Life Without Parole', 'Life', '99 years', '98 years', '90 years',
       '85 years', '80 years', '75 years', '70 years', '67 years',
       '60 years', '56 years', '55 years', '52 years', '50 years',
       '48 years', '45 years', '40 years', '38 years', '36 years',
       '35 years', '33 years', '30 years', '28 years', '27 years',
       '25 years', '23 years', '22 years', '20 years', '19 years',
       '18 years', '17 years, 6 months', '17 years', '16 years',
       '15 years', '14 years', '13 years, 6 months', '13 years',
       '12 years', '11 years', '10 years', '9 years', '8 years, 6 months',
       '8 years', '7 years', '6 years, 6 months', '6 years', '5 years',
       '4 years', '3 years, 6 months', '3 years', '2 years, 6 months',
       '2 years', '1 year, 3 months, 25 days', '1 year', '7 months'],
      dtype=object)

### Trying to take this challenge in steps. Ultimately want to do it in one function, but not there yet.

Step 1: Get the terms that have 'years' to a string of the number only.

In [496]:
#tried to do multiple items in the for loop
#for me, had to come back to pulling out years first, otherwise getting errors 
term_list = []
for term in df['term']:
    
    no_years = term.replace(' years', '')
    
    term_list.append(no_years)

In [497]:
df['term_rd2'] = term_list

In [498]:
df.term_rd2.unique()

array(['Life Without Parole', 'Life', '99', '98', '90', '85', '80', '75',
       '70', '67', '60', '56', '55', '52', '50', '48', '45', '40', '38',
       '36', '35', '33', '30', '28', '27', '25', '23', '22', '20', '19',
       '18', '17, 6 months', '17', '16', '15', '14', '13, 6 months', '13',
       '12', '11', '10', '9', '8, 6 months', '8', '7', '6, 6 months', '6',
       '5', '4', '3, 6 months', '3', '2, 6 months', '2',
       '1 year, 3 months, 25 days', '1 year', '7 months'], dtype=object)

In [500]:
#getting the 6 months into .5s to be able to change to floats
#have to keep them ALL STRINGS until can CONVERT ALL AT ONCE 
term_list_2 = []

for term in df['term_rd2']:
    
    if ', 6 months' in term:
        
        no_months_main = term.replace(', 6 months', '.5')
        
        term_list_2.append(no_months_main)
    elif ' 7 months' in term:
        #need to get them to strings that can be converted
        no_months = term.replace(', 7 months', '.583')
        
        term_list_2.append(no_months)
   
    
    else:

        term_list_2.append(term)

In [501]:
df['term_rd2'] = term_list_2

In [502]:
df.term_rd2.unique()

array(['Life Without Parole', 'Life', '99', '98', '90', '85', '80', '75',
       '70', '67', '60', '56', '55', '52', '50', '48', '45', '40', '38',
       '36', '35', '33', '30', '28', '27', '25', '23', '22', '20', '19',
       '18', '17.5', '17', '16', '15', '14', '13.5', '13', '12', '11',
       '10', '9', '8.5', '8', '7', '6.5', '6', '5', '4', '3.5', '3',
       '2.5', '2', '1 year, 3 months, 25 days', '1 year', '7 months'],
      dtype=object)

In [510]:
#trying to do the remaining months and days together, if possible
list_3 = []
for term in df['term_rd2']:
    if '7 months' in term:
        no_months = term.replace('7 months', '.583')
        
        list_3.append(no_months)
    
    
    elif ' year' in term:
        no_year = term.replace(' year', '')
        
        list_3.append(no_year)
    
    elif '3 months' in term:
        no_days = term.replace(', 3 months, 25 days', '.318')
        
        list_3.append(no_days)
        
    else:
        
        list_3.append(term)

In [511]:
df['term_rd2'] = list_3

In [512]:
df.term_rd2.unique()

array(['Life Without Parole', 'Life', '99', '98', '90', '85', '80', '75',
       '70', '67', '60', '56', '55', '52', '50', '48', '45', '40', '38',
       '36', '35', '33', '30', '28', '27', '25', '23', '22', '20', '19',
       '18', '17.5', '17', '16', '15', '14', '13.5', '13', '12', '11',
       '10', '9', '8.5', '8', '7', '6.5', '6', '5', '4', '3.5', '3',
       '2.5', '2', '1.318', '1', '.583'], dtype=object)

In [513]:
#saving the word conversion for last
new_list = []
for term in df['term_rd2']:
    if term == 'Life Without Parole':
        number = term.replace('Life Without Parole', '500')
    
    
        new_list.append(number)
    elif term == 'Life':
        
        number_2 = term.replace('Life', '150')
        
        new_list.append(number_2)
    else:
        
        new_list.append(term)

In [514]:
df['term_rd2'] = new_list

In [515]:
df.term_rd2.unique()

array(['500', '150', '99', '98', '90', '85', '80', '75', '70', '67', '60',
       '56', '55', '52', '50', '48', '45', '40', '38', '36', '35', '33',
       '30', '28', '27', '25', '23', '22', '20', '19', '18', '17.5', '17',
       '16', '15', '14', '13.5', '13', '12', '11', '10', '9', '8.5', '8',
       '7', '6.5', '6', '5', '4', '3.5', '3', '2.5', '2', '1.318', '1',
       '.583'], dtype=object)

In [516]:
#this is the last step, once they have all been replaced and are float-ready 
floats_list = []

for term in df.term_rd2:
    one = float(term)
        
    floats_list.append(one)

In [517]:
df['term_rd2'] = floats_list

In [518]:
#visual check that they look like floats 
df.term_rd2.unique()

array([500.   , 150.   ,  99.   ,  98.   ,  90.   ,  85.   ,  80.   ,
        75.   ,  70.   ,  67.   ,  60.   ,  56.   ,  55.   ,  52.   ,
        50.   ,  48.   ,  45.   ,  40.   ,  38.   ,  36.   ,  35.   ,
        33.   ,  30.   ,  28.   ,  27.   ,  25.   ,  23.   ,  22.   ,
        20.   ,  19.   ,  18.   ,  17.5  ,  17.   ,  16.   ,  15.   ,
        14.   ,  13.5  ,  13.   ,  12.   ,  11.   ,  10.   ,   9.   ,
         8.5  ,   8.   ,   7.   ,   6.5  ,   6.   ,   5.   ,   4.   ,
         3.5  ,   3.   ,   2.5  ,   2.   ,   1.318,   1.   ,   0.583])

In [519]:
#checking dtypes that they are ALL FLOATS for new column
df.dtypes

name                      object
age                        int64
main_crime                object
entered_on        datetime64[ns]
term                      object
crime_location            object
home_county               object
term_rd2                 float64
dtype: object

In [520]:
df.isnull().sum()

name              0
age               0
main_crime        0
entered_on        0
term              0
crime_location    0
home_county       0
term_rd2          0
dtype: int64

In [521]:
#saving full list to csv
df.to_csv('hunts_good_dtypes.csv')

In [524]:
df.shape

(1411, 8)

In [527]:
df.nunique()

name              1250
age                 56
main_crime         619
entered_on         971
term                56
crime_location     148
home_county        147
term_rd2            56
dtype: int64

In [528]:
#drop duplicates
df = df.drop_duplicates()

df.shape #lost 155 rows that were duplicates

(1256, 8)

In [529]:
#saving no dups
df.to_csv('hunts_good_dtypes_no_dups.csv')

In [532]:
df.tail(25) #looking at data just to visually check in

,name,age,main_crime,entered_on,term,crime_location,home_county,term_rd2
1386,Christopher Cole Thomas,35,DWI SUBSEQUENT,2019-01-29,2 years,Montgomery,Montgomery,2.000
1387,Ronnie Glynn Johnson,38,FAILURE TO APPEAR,2019-04-29,2 years,Cherokee,Cherokee,2.000
1388,Terence Jarmon,47,ASLT FAM HSE MEM PREV,2018-12-06,2 years,Travis,Travis,2.000
1389,Kendrick Rayshoun Thomas,31,POSS CS PG1 1-4G METH,2019-01-08,2 years,Galveston,Galveston,2.000
1390,Gregorio Aguirre Aniceto,21,EVADING ARREST DET W/VEH,2019-01-09,2 years,Liberty,Liberty,2.000
1391,Brendon Cristobal,23,UNL POSS OF FIREARM BY FELON,2019-06-18,2 years,Dallas,Dallas,2.000
1392,Terrell Morris,42,ASLT FAM/HOU IMP BRTH/CIRC,2018-12-20,2 years,Travis,Travis,2.000
1393,Javoni Marquel Green,27,ASLT FAM/HSEHLD MEM PREV CONV,2018-11-06,2 years,Harris,Harris,2.000
1394,Ruben Garcia,48,ASLT FAM/HSHLD MEM W/PREV CONV,2019-04-17,2 years,Cameron,Cameron,2.000
1395,Cosme Bejaran,29,DWI-3RD OFFENDER,2019-05-20,2 years,Cameron,Cameron,2.000
1396,Ryan Shane Casas,41,DWI,2019-05-01,2 years,Montgomery,Montgomery,2.000
1397,Christopher Coker,36,ASLT FAM VIOL W/PRIOR,2018-10-11,2 years,Denton,Denton,2.000
1398,Keith Brandon Griffin,25,POSS CONT SUB PG1 4-200G,2019-01-28,2 years,Fayette,Harris,2.000
1399,Ivan Jay Tucker,56,FRAUD POSS ID INFO 10-50,2018-10-31,2 years,Dallas,Dallas,2.000
1400,Jason Dewayne Long,34,BURG OF HABITATION WITC ASLT,2018-11-08,2 years,Tarrant,Tarrant,2.000
1401,Terrelle Dontrae Mason,20,EVADING ARREST/DET W/VEH,2019-06-21,2 years,Harris,Harris,2.000
1402,Ronald Joe Johnson,54,POSS CONT SUBS,2019-02-04,2 years,Montgomery,Montgomery,2.000
1403,Dominique Dandre Simmons,27,FELON POSS WPN,2018-07-20,2 years,Harris,Harris,2.000
1404,Ali Marchant,24,HARASSMENT BY PERSONS IN CORR,2019-02-13,2 years,McLennan,McLennan,2.000
1405,Michael Larson,30,POSS MARIJ,2018-02-14,2 years,Bowie,Bowie,2.000
1406,Brandon Bivian Zamora Lopez,23,ASLT PUB SERV,2019-02-13,2 years,Hidalgo,Hidalgo,2.000
1407,Daniel Woodson,31,BAIL JUMP/FAIL TO APPEAR FELON,2019-06-17,2 years,Brazos,Cherokee,2.000
1408,Christopher Ollison,23,THEFT OF PROP >=$2500<$30K,2018-12-21,"1 year, 3 months, 25 days",Tom Green,Collin,1.318
1409,Steven P Price,44,POSS C/S<1G; METH,2018-08-31,1 year,Tarrant,Tarrant,1.000
1410,Devin Charles Wild,21,POSS CS,2019-06-05,7 months,Brazoria,Harris,0.583